@import "../../styles/variables.scss";

.ipt {
    font-size: 1.8rem;
    color: $graphit;
    line-height: 3rem;
    border-radius: 10px;
    border: none;
    width: 400px;
    box-sizing: border-box;
    padding-left: 15px;
}