@import '../../styles/variables';

.btn {
  box-sizing: border-box;
  border-width: 0;
  background-color: $l-blue;
  color: $white;
  cursor: pointer;
}

.large {
  width: 600px;
}

.medium {
  width: 400px;
  font-size: 1.8rem;
  line-height: 3rem;
}

.small {
  width: 150px;
  font-size: 1.4rem;
  line-height: 2rem;
}

.halfsquare {
  border-radius: 0 0 15px 15px;
}

.regular {
  border-radius: 10px;
}
