@import './styles/variables';

ul {
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
}

.main {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lighten($color: $d-hakki, $amount: 30);
}

.page-wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
